version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: demo_api_postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: demo_api
      POSTGRES_USER: demo_user
      POSTGRES_PASSWORD: demo_pass
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
